@import '../../../assets/styles/colors.scss';

.login-container {
  h1 {
    font-weight: 500;
  }

  p {
    margin-bottom: 1.7rem;
    color: $text-color;
  }

  .form-field,
  .button {
    width: 100%;
  }

  .button {
    margin-top: 1rem;
  }

  a {
    margin-top: 1.2rem;
  }
}
