@import '../../../assets/styles/colors.scss';

.register-container {
  h1 {
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .form-field,
  .button {
    width: 100%;
  }

  .button {
    margin-top: 1rem;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    margin-top: 1.2rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
