<app-auth-layout class="register-container">
  <h1>Criar conta</h1>
  <form [formGroup]="form" class="full-width">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error *ngIf="form.hasError('required', 'name')">Insira um nome válido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="form.hasError('email', 'email') || form.hasError('required', 'email')">
        Insira um endereço de e-mail válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="form.hasError('required', 'password')">Insira uma senha válida</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmar senha</mat-label>
      <input matInput type="password" formControlName="passwordConfirmation" />
      <mat-error *ngIf="form.hasError('required', 'passwordConfirmation')">Insira uma senha válida</mat-error>
      <mat-error *ngIf="form.hasError('passwordsNotMatching', 'passwordConfirmation')"> As senhas não coincidem </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" class="button full-width" [disabled]="form.invalid" (click)="register()">Criar conta</button>
  </form>
  <a [routerLink]="['/login']">Já possui uma conta? Entrar</a>
</app-auth-layout>
