@import '~@angular/material/theming';

@include mat-core();

$custom-primary-color: (
  50: #e9f2fc,
  100: #c8def6,
  200: #a4c8f1,
  300: #80b1eb,
  400: #64a1e6,
  500: #4990e2,
  600: #4288df,
  700: #397dda,
  800: #3173d6,
  900: #2161cf,
  A100: #ffffff,
  A200: #d4e3ff,
  A400: #a1c1ff,
  A700: #88b0ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$custom-accent-color: (
  50: #ebf6eb,
  100: #cee9ce,
  200: #aedbae,
  300: #8dcd8d,
  400: #74c274,
  500: #5cb75c,
  600: #54b054,
  700: #4aa74a,
  800: #419f41,
  900: #309030,
  A100: #d8ffd8,
  A200: #a5ffa5,
  A400: #72ff72,
  A700: #58ff58,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$gallery-primary: mat-palette($custom-primary-color);
$gallery-accent: mat-palette($custom-accent-color);
$gallery-warn: mat-palette($mat-red);

$gallery-theme: mat-light-theme(
  (
    color: (
      primary: $gallery-primary,
      accent: $gallery-accent,
      warn: $gallery-warn
    )
  )
);

@include angular-material-theme($gallery-theme);
