<app-main-header [showBackButton]="true">
  <span mainHeaderTitle>{{ album?.title }}</span>
  <span mainHeaderSubtitle>ÁLBUM &bull; {{ numberOfPhotosPerAlbum }} FOTOS</span>
</app-main-header>
<app-spinner *ngIf="isLoading"></app-spinner>
<ul class="photos-container" *ngIf="!isLoading">
  <li *ngFor="let photo of photos">
    <figure class="figure">
      <img [src]="photo.url" [alt]="photo.title" />
      <figcaption>{{ photo.title }}</figcaption>
    </figure>
  </li>
</ul>
<mat-paginator
  [length]="numberOfPhotosPerAlbum"
  [pageSize]="photos?.length"
  [hidePageSize]="true"
  (page)="fetchPhotosFromPageEvent($event)"
></mat-paginator>
