<app-main-header>
  <span mainHeaderTitle>{{ album?.title }}</span>
  <span mainHeaderSubtitle>ALBUM &bull; 50 PHOTOS</span>
</app-main-header>
<ul class="photos-container">
  <li>
    <figure class="figure">
      <img src="https://picsum.photos/300/200/?random" alt="" />
      <figcaption>Vehicula Quam Nibh</figcaption>
    </figure>
  </li>
  <li>
    <figure class="figure">
      <img class="image" src="https://picsum.photos/300/200/?random" alt="" />
      <figcaption class="caption">Vehicula Quam Nibh</figcaption>
    </figure>
  </li>
  <li>
    <figure class="figure">
      <img src="https://picsum.photos/300/200/?random" alt="" />
      <figcaption>Vehicula Quam Nibh</figcaption>
    </figure>
  </li>
  <li>
    <figure class="figure">
      <img src="https://picsum.photos/300/200/?random" alt="" />
      <figcaption>Vehicula Quam Nibh</figcaption>
    </figure>
  </li>
  <li>
    <figure class="figure">
      <img src="https://picsum.photos/300/200/?random" alt="" />
      <figcaption>Vehicula Quam Nibh</figcaption>
    </figure>
  </li>
  <li>
    <figure class="figure">
      <img src="https://picsum.photos/300/200/?random" alt="" />
      <figcaption>Vehicula Quam Nibh</figcaption>
    </figure>
  </li>
</ul>
