@import '../../../assets/styles/colors.scss';

.photos-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 90%;
  gap: 1em;
  grid-row-gap: 2rem;
  list-style: none;
  grid-auto-flow: initial;
  grid-template-columns: repeat(auto-fit, minmax(auto, 20em));
  justify-content: center;

  .figure {
    display: grid;
    grid-template-rows: 15em 1fr;
    gap: 1em;
    font-style: italic;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      color: $text-color;
      line-height: 1.4;
      font-size: 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 1440px) {
  .photos-container .figure {
    grid-template-columns: 1fr;
  }
}
