<header class="main-header-container">
  <div class="left-side">
    <button
      *ngIf="showBackButton"
      mat-icon-button
      aria-label="Voltar para a página anterior"
      matTooltip="Voltar para a página anterior"
      class="back-button"
      (click)="back()"
    >
      <mat-icon color="primary" class="arrow-back">arrow_back</mat-icon>
    </button>
    <div>
      <h1 class="title"><ng-content select="[mainHeaderTitle]"></ng-content></h1>
      <span class="subtitle"><ng-content select="[mainHeaderSubtitle]"></ng-content></span>
    </div>
  </div>

  <div class="right-side" [matMenuTriggerFor]="menu">
    <img class="user-image" alt="Avatar" src="../../../../assets/images/user.svg" />
    <mat-icon class="expand-more">expand_more</mat-icon>
  </div>
  <mat-menu #menu="matMenu" xPosition="before" class="custom-menu">
    <div class="user-details">
      <mat-icon class="user-icon">person</mat-icon>
      <div>
        <span class="user-name">{{ loggedUser?.name }}</span>
        <span class="user-email">{{ loggedUser?.email }}</span>
      </div>
    </div>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</header>
