@import '../../../../assets/styles/colors.scss';

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
  margin-bottom: 3rem;

  .title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-weight: 200;
    font-size: 0.9rem;
  }

  .user-details {
    display: flex;
    align-items: center;

    .user-image {
      border-radius: 50%;
    }

    .user-name {
      margin-left: 1rem;
      font-size: 1.2rem;
    }
  }
}
