@import '../../../../assets/styles/colors.scss';

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
  margin-bottom: 3rem;

  .left-side {
    display: flex;
    align-items: center;

    .back-button {
      margin-right: 1rem;

      .arrow-back {
        font-size: 1.7rem;
      }
    }

    .title {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    .subtitle {
      font-weight: 200;
      font-size: 0.9rem;
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    cursor: pointer;

    .user-image {
      border-radius: 50%;
    }

    .expand-more {
      margin-left: 0.5rem;
    }
  }
}

::ng-deep .custom-menu {
  .user-details {
    display: flex;
    padding: 1rem;
    align-items: center;

    .user-icon {
      margin-right: 1rem;
    }

    .user-name {
      display: block;
      font-weight: 500;
      min-width: 13.7rem;
    }

    .user-email {
      color: $text-color;
    }
  }
}
