@import '../../../../assets/styles/colors.scss';

.main-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, $primary-color 15%, $background-color 0%);
  position: relative;

  .card {
    position: absolute;
    width: 85%;
    height: 85%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 14px;
      height: 18px;
    }

    &::-webkit-scrollbar-thumb {
      height: 6px;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 7px;
      background-color: $scrollbar-thumb-color;
      box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }

    .main {
      padding: 3rem;
    }
  }
}
