@import 'assets/styles/theme.scss';
@import 'assets/styles/colors.scss';
@import '~ngx-toastr/toastr';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.full-width {
  width: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
